<div class="container">
  <div class="content">
    <app-title title="{{'orderSummary' | translate}}" fontSize="1.6rem"></app-title>
    <div class="summary">
      <div>
        <h3>{{'name'|translate}}:</h3>
        <span>{{order.name}}</span>
      </div>
      <div>
        <h3>{{'address'|translate}}:</h3>
        <span>{{order.address}}</span>
      </div>
    </div>
    <order-items-list [order]="order"></order-items-list>
    <div class="payMenu">
      <h3 class="payMenuH3">{{"selectPaymentMethod"|translate}}:</h3>
      <ul (mouseenter)="isMenuOpen = true" (mouseleave)="isMenuOpen = false">
        <li class="menu-container">
          <a>
            <img *ngIf="selectedPaymentFlag" [src]="selectedPaymentFlag" alt="Payment" class="flag">
            {{ selectedPaymentMethod + '' | translate }}
          </a>
          <div class="menu" *ngIf="isMenuOpen">
            <a class="dropdown-item" [class.selected]="selectedPaymentMethod === 'card'" (click)="selectPaymentMethod('card', 'assets/icons/card-icon.png')">
              <img src="assets/icons/card-icon.png" alt="Card" class="flag">{{'card'|translate}}
            </a>
            <a class="dropdown-item" [class.selected]="selectedPaymentMethod === 'money'" (click)="selectPaymentMethod('money', 'assets/icons/money-icon.png')">
              <img src="assets/icons/money-icon.png" alt="Money" class="flag">{{'money'|translate}}
            </a>
            <a class="dropdown-item" [class.selected]="selectedPaymentMethod === 'bitcoin'" (click)="selectPaymentMethod('bitcoin', 'assets/icons/crypto-icon.png')">
              <img src="assets/icons/crypto-icon.png" alt="Bitcoin" class="flag">{{'bitcoin'|translate}}
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="selectedPaymentMethod === 'Card'">
      <div class="containerPayment">
        <label class="labelPayment">
            {{'cardNumber'|translate}}
        </label>
        <div class="contentPayment">
            <input class="inputPayment" type="text" placeholder="{{'cardNumber'|translate}}"/>
        </div>
      </div>
    </div>
  
    <div *ngIf="selectedPaymentMethod === 'Bitcoin'">
      <div class="containerPayment">
        <label class="labelPayment">
            {{'walletAddress'|translate}}
        </label>
        <div class="contentPayment">
            <input class="inputPayment" type="text" placeholder="{{'walletAddress'|translate}}"/>
        </div>
      </div>
    </div>

  </div>
  
  <div class="buttons-container">
    <div class="buttons">
      <button (click)="goToCart()">
        {{'pay' | translate}}
      </button>
    </div>
  </div>
</div>