<app-not-found
    [visible]="!food.id"
    notFoundMessage="{{'notFoundMessageHome' | translate}}!"
    resetLinkText="{{'resetLinkTextCart' | translate}}">
</app-not-found>

<div *ngIf="food.id" class="container">
    <img [src]="food.imageUrl" [alt]="food.name"/>

    <div class="details">
        <div class="header">
            <span class="name">{{food.name}}</span>
            <span class="favourite {{food.favourite ? '' : 'not'}}">❤</span>
        </div>


        <div class="origins">
            <span *ngFor="let origin of food.origins">{{origin}}</span>
        </div>

        <div class="tags">
            <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">{{tag}}</a>
        </div>

        <div class="cook-time">
            <span>{{'timeToCook' | translate}} <strong>{{food.cookTime}}</strong> {{'minutes'|translate}}.</span>
        </div>

        <div class="price">
            <span class="price-label">{{'price'|translate}}: </span>
            <span>{{food.price | currency}}</span>
        </div>

        <!-- Zaloga po poslovalnicah (Dropdown) -->
        <div class="branches-stock">
            <!-- Gumb za odpiranje/zapiranje dropdown menija -->
            <button (click)="toggleBranchStock()" id="branch-stock-toggle" class="toggle-button">
                {{ 'stockByBranch' | translate }}
            </button>
            
            <!-- Dodan je dropdown meni za prikaz zaloge -->
            <div *ngIf="isBranchStockVisible" class="branch-stock-dropdown">
                <div *ngFor="let branch of food.branches" class="branch-stock">
                    <span>{{branch.branch}}: {{branch.stock}}</span>
                </div>
            </div>
        </div>

        <button (click)="addToCart()">{{'addToCart'|translate}}</button>
    </div>
</div>

<app-confirmation-modal 
  *ngIf="showModal" 
  (closeModal)="closeModal($event)" 
  (navigateToCart)="goToCart()">
</app-confirmation-modal>
