<div class="container">
    <!-- Prikaz slike hrane, uporablja property binding za dinamično polnjenje vira slike in nadomestnega besedila -->
    <img [src]="food.imageUrl" [alt]="food.name"/>

    <div class="details">
        <div class="header">
            <!-- Ime hrane, prikazano s pomočjo interpolacije -->
            <span class="name">
                {{food.name}}
            </span>
            <span class="favourite {{food.favourite ? '' : 'not'}}">❤</span>
        </div>
        <div class="rating">
            <!-- Star rating can go here if needed -->
        </div>

        <!-- Prikaz izvorov hrane, uporablja *ngFor za iteracijo čez seznam -->
        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}
            </span>
        </div>

        <!-- Prikaz oznak hrane, uporablja *ngFor in routerLink za navigacijo -->
        <div class="tags">
            <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
                {{tag}}
            </a>
        </div>

        <div class="cook-time">
            <span>
                {{'timeToCook' | translate}} <strong>{{food.cookTime}}</strong> {{'minutes'|translate}}.
            </span>
        </div>

        <!-- Prikaz cene hrane, formatirano z uporabo pipe 'currency' -->
        <div class="price">
            <span class="price-label">{{'price'|translate}}: </span>
            <span>
                {{food.price | currency}}
            </span>
        </div>

        <!-- Gumb za dodajanje hrane v košarico, kliče metodo addToCart ob kliku -->
        <button (click)="addToCart()">{{'addToCart'|translate}}</button>
    </div>
</div>

<!-- Modal Component to show when item is added to the cart -->
<app-confirmation-modal 
  *ngIf="showModal" 
  (closeModal)="closeModal($event)" 
  (navigateToCart)="goToCart()">
</app-confirmation-modal>
