<div class="container">
    <div class="details">
        <app-title title="{{'login' | translate}}"></app-title>

        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            

            <text-input
            [control]="fc.email"
            [showErrorsWhen]="isSubmitted"
            type="email"
            label="{{'email'|translate}}"></text-input>

            <text-input
            [control]="fc.password"
            [showErrorsWhen]="isSubmitted"
            type="password"
            label="{{'password'|translate}}"></text-input>
            
            
        
            <default-button text="{{'login'|translate}}"></default-button>
                <div class="register">
                    {{'newUser' | translate}}? &nbsp;
                <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
                    {{'registerHere' | translate}}
                </a>
                </div>
        </form>
    </div>
</div>