<app-title title="{{'cartPage'|translate}}" margin="1.5rem 0 0 2.5rem"></app-title>
<!-- prikažemo komponento app-not-found ter nastavimo njena polja -->
<app-not-found
  [visible]="!cart || cart.items.length == 0"
  notFoundMessage="{{'notFoundMessageCart' | translate}}!" 
  resetLinkText="{{'resetLinkTextCart' | translate}}"

></app-not-found>
<div *ngIf="cart !== null && cart.items.length > 0" class="container">
<ul>
  <li *ngFor="let cartItem of cart.items">
    <div>
        <img routerLink="/food/{{cartItem.food.id}}" [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
    </div>
    <div>
      <a routerLink="/food/{{cartItem.food.id}}">
        {{cartItem.food.name}}
      </a>
    </div>
    <div class="quantity-container">
      <!-- Input field for quantity -->
      <input 
      type="text"
      [(ngModel)]="cartItem.quantity"
      (blur)="changeQuantity(cartItem, cartItem.quantity)"
      style="width: 50px; text-align: center;" 
    />
      
      <!-- Buttons to increase/decrease quantity -->
      <button (click)="changeQuantity(cartItem, cartItem.quantity - 1)" [disabled]="cartItem.quantity <= 1">-</button>
      <button (click)="changeQuantity(cartItem, cartItem.quantity + 1)" [disabled]="cartItem.quantity >= 10">+</button>
    </div>
    <div>
      {{cartItem.price}}€
    </div>
    <div>
      <button class="remove-button" (click)="removeFromCart(cartItem)">
        {{'remove' | translate}}
      </button>
    </div>
  </li>
</ul>
<div class="checkout">
  <div>
    <div><span class="foods-count-label"><b>{{'count'|translate}}: </b></span>{{cart.totalCount}}</div>
    <div><span class="total-price-label">{{'tax' | translate}}: {{ cart.totalPrice * 0.22}}€</span></div>
    <div><span class="total-price-label">{{'priceNoTax' | translate}}: {{ (cart.totalPrice - cart.totalPrice * 0.22)}}€</span></div>
    <div><span class="total-price-label"><b>{{'priceTax'|translate}}: </b></span>{{cart.totalPrice}}€</div>
  </div>
  <a routerLink="/checkout">{{'proceedToCheckout' | translate}}</a>
</div>
</div>